[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
google-cloud-aiplatform = "*"
flask = "*"
ez-setup = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.12"
